<!DOCTYPE html>
<html ng-app="expenseApp">
  <head>
    <meta charset='utf-8'>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Expense-manager by ovarunendra</title>
  </head>

  <body ng-controller="ExpenseController as ctrl">
		<div class="row"> 
			<div class="col-md-6">
				<h1>Simple expense manager project</h1>
			</div>
			<div class="col-md-2">
				<a href="https://github.com/ovarunendra/expense-manager"><h2>view on <i class="fa fa-github"></i></h2></a>
			</div>
			<div class="col-md-2">
				<a href="https://github.com/ovarunendra/expense-manager/zipball/master"><h2><i class="fa fa-download"></i> .zip file</h2></a>
			</div>
			<div class="col-md-2">
				<a href="https://github.com/ovarunendra/expense-manager/tarball/master"><h2><i class="fa fa-download"></i> .tar.gz file</h2></a>
			</div>
		</div>

<div id="form-box">
    <h2 ng-hide="ctrl.editMode">Add a new item:</h2>

    <h2 ng-show="ctrl.editMode">Edit Expense:</h2>

    <div class="add-btn" ng-class="{'active': addFriend}">
        <span class="add-text">Add a friend</span>

        <div class="friend-input">
            <div><input type="text" ng-model="ctrl.newFriend" placeholder="Eg: Vandy"
                        ui-keypress="{13: 'ctrl.addFriend($event)'}"></div>
        </div>
    <span class="fa-stack fa-lg" ng-click="addFriend = !addFriend">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-plus fa-stack-1x" title="Add a friend"></i>
    </span>
    </div>
    <form name="expenseForm" rc-submit="ctrl.addExpense()" novalidate>
        <div>
            <span>Type:</span>
            <select name="type" ng-model="ctrl.expense.type"
                    ng-options="eachType.desc for eachType in ctrl.types">
            </select>
        </div>
        <div>
            <span>Add friend:</span>
            <select multiple ng-required="true" name="friend" ng-model="ctrl.expense.friends"
                    ng-options="eachFriend.name for eachFriend in ctrl.friendsList">
            </select>

            <div ng-class="{'error-msg': rc.expenseForm.needsAttention(expenseForm.friend)}"
                 ng-show="expenseForm.$submitted && expenseForm.friend.$error.required">Please select at least one
                friend
            </div>
        </div>

        <div>
            <span>Name:</span> <input ng-required="true" name="expenseName" type="text" ng-model="ctrl.expense.itemName"
                                      placeholder="What did you spend on?">

            <div ng-class="{'error-msg': rc.expenseForm.needsAttention(expenseForm.expenseName)}"
                 ng-show="expenseForm.$submitted && expenseForm.expenseName.$error.required">Please enter expense
                details
            </div>
        </div>

        <div>
            <span>Date:</span> <input type="text" name="date" datepicker-popup="{{ctrl.dateFormat}}"
                                      ng-model="ctrl.expense.date"
                                      is-open="ctrl.opened"
                                      ng-click="ctrl.openCalender($event)" close-text="Close"/>

            <div ng-class="{'error-msg': rc.expenseForm.needsAttention(expenseForm.date)}">
                <div ng-show="expenseForm.$submitted && expenseForm.date.$error.required">Please enter the date.</div>
            </div>
        </div>

        <div>
            <span>Currency:</span>
            <select name="currency" ng-model="ctrl.expense.currency"
                    ng-options="each.value for each in ctrl.currencies">
            </select>
        </div>
        <div>
            <span>Amount:</span> <input type="text" ng-required="true" name="amount" ng-model="ctrl.expense.amount"
                                        ng-pattern="/^((\d+(\.\d*)?)|((\d*\.)?\d+))$/" placeholder="How much?">

            <div ng-class="{'error-msg': rc.expenseForm.needsAttention(expenseForm.amount)}">
                <div ng-show="expenseForm.$submitted && expenseForm.amount.$error.required">Cannot be empty</div>
                <div ng-show="expenseForm.amount.$error.pattern">Please enter valid amount.</div>
            </div>
        </div>

        <button ng-if="!ctrl.editMode" type="submit" class="expense-add-btn">Add a new expense</button>
        <button ng-if="ctrl.editMode" type="submit" class="expense-add-btn">Done</button>

    </form>
</div>
<div class="filter-block">
    <div class="filter-option">
        <span>Filter by friend:</span>
        <select name="filter-friend" ng-model="ctrl.filterFriend"
                ng-options="eachFriend.name for eachFriend in ctrl.friendsList">
            <option value="">--Select One--</option>
        </select>
    </div>
    <div class="filter-option">
        <span>Currency:</span>
        <select name="filter-currency" ng-model="ctrl.filterCurrency"
                ng-options="each.value for each in ctrl.currencies">
        </select>
    </div>
</div>
<table>
    <tr>
        <th class="center">type</th>
        <th>name</th>
        <th>Friends</th>
        <th>date</th>
        <th style="text-align: right">amount</th>
        <th class="table-btn">edit</th>
        <th class="table-btn">delete</th>
    </tr>
    <tr ng-if="ctrl.expenseList.length == 0">
        <td colspan="4"><span>Your added items will show up here!</span></td>
    </tr>
    <tr ng-if="ctrl.expenseList.length"
        ng-repeat="eachExpense in ctrl.expenseList | orderBy: ctrl.orderByDate | friendFilter : ctrl.filterFriend.name">
        <td ng-switch on="eachExpense.type.id">
            <i class='fa fa-credit-card' ng-switch-when="card"></i>
            <i class='fa fa-money' ng-switch-when="cash"></i>
            <i class='fa fa-question-circle' ng-switch-when="other"></i>
        </td>
        <td><span ng-bind="eachExpense.itemName"></span></td>
        <td><span ng-repeat="friend in eachExpense.friends">{{friend.name}} </span></td>
        <td><span ng-bind="eachExpense.date | date:'dd/MM/yyyy'"></span></td>
        <td class="amount" ng-switch on="ctrl.filterCurrency.cId" style="text-align: right">
            <span ng-switch-when="dollar">$ </span>
            <span ng-switch-when="rupee">&#x20b9; </span>
            <span ng-switch-when="euro">&pound; </span>
            <span ng-bind="eachExpense.amount | currencyConverter: eachExpense.currency.cId : ctrl.filterCurrency.cId"></span>
        </td>
        <td><i class="fa fa-pencil" ng-click="ctrl.editExpense(eachExpense)"></i></td>
        <td><i class="fa fa-trash-o" ng-click="ctrl.deleteExpense(eachExpense.itemId)"></i></td>
    </tr>

</table>

<script src="javascripts/angular.min.js"></script>
<script src="javascripts/angular-ui-utils.min.js"></script>
<script src="javascripts/ui-bootstrap-tpls.min.js"></script>
<script src="javascripts/underscore.js"></script>
<script src="javascripts/rcSubmit.js"></script>
<script src="javascripts/app.js"></script>
<script src="javascripts/app.services.js"></script>
<script src="javascripts/app.filter.js"></script>
<script src="javascripts/app.controller.js"></script>
  
  </body>
</html>
